body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    /*padding-top: 50px;*/
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*.container {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: #ffffff;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 10px;*/
/*}*/

.book-search-container {
    text-align: center;
    margin-bottom: 30px;
}

.book-search-container label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
}

.book-search-container .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.book-search-container .form-group input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ced4da;
    outline: none;
    transition: all 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

.book-search-container .form-group input[type="text"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.book-search-container .form-group button {
    padding: 10px 20px;
    font-size: 1em;
    border: 1px solid #007bff;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.book-search-container .form-group button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.book-search-group .form-group button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table img {
    max-width: 80px;
    border-radius: 5px;
}

.table button {
    padding: 6px 12px;
    border: none;
    background-color: #2881a7;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.table button:hover {
    background-color: #218838;
}

.book-find label,
.book-find input,
.book-find button {
    margin: 20px 0;
}

.footer {
    background-color: #ffffff;
    color: white;
    padding: 20px 0;
    margin-top: 30px;
}

.footer p {
    margin: 0;
    font-size: 1em;
}

/* 버튼 설정 */
.btn-detail {

}
.btn-modify {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.53);
    width: 70px; /* 버튼 너비 */
}

.btn-delete {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.53);
    width: 70px; /* 버튼 너비 */
}

.btn-modify:hover, .btn-modify:focus {
    background-color: #6f99c2;
    border-color: #6f99c2;
}

.btn-delete:hover, .btn-delete:focus {
    background-color: #6f99c2;
    border-color: #6f99c2;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; /* 아래 여백 */
}

/* 댓글 삭제 버튼 스타일 */
.badge {
    background-color: rgba(255, 206, 210, 0);
    border: none;
    color: rgba(0, 0, 0, 0.53);
    cursor: pointer;
    padding: 5px 10px;
}

.badge:hover, .badge:focus {
    background-color: rgba(68, 68, 68, 0.94);
}

